.discography {
    display: grid;
    grid-template-columns: 220px 400px 1fr;
    gap: 60px;
    margin-top: 80px;
}

.album-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.album-list a {
    text-decoration: none;
    margin-bottom: 8px;
}

.album-info h2 {
    margin-top: 0;
}

.track {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 8px;
}